*{
    padding:0px;
    margin:0px;
}
body
{
    background-image:url( "/static/image/into.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.nav
{
    padding: 35vh;
    
}
p
{
    font-size: large;
}
button
{
    padding: 10px;
    padding-left:20px;
    padding-right: 20px;
    margin-top:4%;
    margin-left: 40%;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(33, 33, 66);
    color: antiquewhite;
    font-size:medium;
    
}